.activites {
    border-top: 1px dashed #6C5CE7;
    background: url('../../images/hexagon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.activity-slide {
    width: 70%;
}

.cap-background {
    background-color: rgba(173, 173, 173, 0.781);
    width: 25%;
    margin: auto;
}

.activity-desc {
    width: 70%;
    margin: auto;
    margin-top: 25px;
}

.activity-desc p {
    font-size: 18px;
}